body {
  max-width: 1440px;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  display: block;
  max-width: 100%;
  height: 916px;
  margin: 0;
}

.logo-nav {
  position: relative;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.logo {
  position: absolute;
  left: 150px;
  transform: rotate(360deg);
  transition: transform 4s;
}

.logo h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
}

.nav-bar {
  position: absolute;
  right: 150px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar li {
  list-style-type: none;
  margin-left: 10px;
  padding: 10px;
}

.nav-bar a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration-line: none;
}

.container-1 {
  display: flex;
  max-width: 1440px;
  height: 844px;
  background-image: url('images/Screenshot-image.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-right: 0;
  border-bottom-left-radius: 100px;
}

.discription {
  position: absolute;
  margin-right: 0;
  padding-right: 0;
  top: 33.33%;
  left: 18.06%;
  right: 18.06%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discription h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  width: 450px;
}

.discription p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.37px;
  color: #344563;
}

.let-s h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.37px;
  color: #7f8cff;
  width: 200px;
  height: 24px;
}

.vector ul {
  display: inline-flex;
  align-items: center;
  margin-left: -45px;
  height: 20px;
}

.vector li {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-right: 12px;
  list-style-type: none;
  width: 20px;
  height: 20px;
}

.vector a {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 12px;
}

.vector a:hover {
  width: auto;
  height: auto;
  border: 1px solid #505f79;
  box-shadow: 1px #505f79;
}

.twitter {
  background-image: url('images/Vector\(1\).png');
  background-repeat: no-repeat;
}

.github {
  background-image: url('images/Vector\(2\).svg');
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url('images/linkedin-112.svg');
  background-repeat: no-repeat;
}

.medium {
  background-image: url('images/Vector\(4\).svg');
  background-repeat: no-repeat;
}

.hand {
  background-image: url('images/Vector\(3\).svg');
  background-repeat: no-repeat;
}

/* main patr of page */

.main-part {
  display: block;
  max-width: 1440px;
  background-color: #e5e5e5;
  margin: 0;
}

article {
  display: flex;
  flex-direction: row;
  max-width: 1156px;
  height: 497px;
  border-radius: 24px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 116px;
  margin-bottom: 116px;
}

.all-image-pro {
  width: 544px;
  height: 448px;
  border-radius: 24px;
  margin: 24px 22px 24px 24px;
}

.scale-image:hover {
  transform: scale(1.2);
}

.back-image-file {
  background-image: url(images/Snapshoot\ Portfolio.png);
  background-repeat: no-repeat;
}

.back-image-file-1 {
  background-image: url(images/two.png);
  background-repeat: no-repeat;
}

.back-image-file-2 {
  background-image: url(images/three-1.png);
  background-repeat: no-repeat;
}

.back-image-file-3 {
  background-image: url(images/three.png);
  background-repeat: no-repeat;
}

.back-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 544px;
  height: 445px;
  margin: 0 24px 27px 24px;
}

.two-four {
  margin-left: 24px;
}

.back-description h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin-top: 48px;
}

.back-description .page-list {
  display: flex;
  align-items: center;
  float: left;
  gap: 38px;
  margin-top: -20px;
  margin-left: -40px;
}

.nav-source li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.back-description .page-list li {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  margin-top: -12px;
}

.back-description .page-list p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.back-description .uniqe-para {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: -30px;
  padding-right: 24px;
  color: #344563;
  line-height: 24px;
}

.back-description .nav-source ul {
  display: flex;
  gap: 24px;
  float: left;
  margin-left: -40px;
  margin-top: -10px;
  list-style-type: none;
}

.button-m {
  border-radius: 8px;
  background-color: #fff;
}

.button-m button {
  display: flex;
  align-items: center;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 4s;
}

.button-m button:active {
  border-radius: 8px;
  background-color: #396df2;
  color: #fff;
}

.button-m button:hover {
  border-radius: 8px;
  background-color: #396df2;
  color: #fff;
  opacity: 0.8;
}

/* about me part */

.about-me {
  height: 668px;
  background-color: #fff;
  border-top-right-radius: 80px;
  margin-top: 28px;
}
.about-me-me {
  display: inline-flex;
  grid-template-columns: auto auto;
  margin-left: 26px;
}

.about-me-page {
  width: 447px;
  height: 392px;
  margin-top: 120px;
}

.about-me .lists-of-frame {
  width: 684px;
  height: 360px;
  margin-top: 180px;
}

.about-me-page .header-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.about-me .about-me-page p {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.list-1 {
  width: 48px;
  height: 48px;
  background-image: url('images/Ellipse\ 1.png');
}

.list-2 {
  background-image: url('images/Ellipse\ 1\(1\).png');
  width: 48px;
  height: 48px;
}

.list-3 {
  background-image: url('images/Ellipse\ 1\(2\).png');
  width: 48px;
  height: 48px;
}

.about-me .lists-of-frame li {
  list-style-type: none;
}

.language h3,
.lang h3,
.lag h3 {
  display: flex;
  align-items: center;
  min-width: 237px;
  height: 24px;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
}

.language,
.lag,
.lang {
  width: 603px;
  border-bottom: 1px solid #dfe1e6;
  margin-bottom: 10px;
}

#span-1,
#span-2,
.language .up-down {
  display: flex;
  align-content: center;
  justify-content: end;
  margin-top: -30px;
  margin-right: 26px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.up-down:hover .up-down {
  margin-bottom: 80px;
}

.language .up-down:hover {
  border-bottom: none;
}

.about-me .hovers ul {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}

.about-me .hovers li {
  display: block;
  align-items: center;
  justify-content: flex-start;
  margin-top: -0;
  margin-left: -30px;
  height: 120px;
  width: 122px;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-right: 50px;
  row-gap: 20px;
}

.about-me .hovers li span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 40px;
}

.about-me .hovers p {
  text-align: center;
}

#new-span {
  padding-left: -10px;
}

.hovers,
#new-span {
  display: none;
}

.language:hover .hovers {
  display: inline-flex;
  justify-content: center;
  row-gap: 20px;
}

.about-me .vector {
  margin-top: 20px;
}

.about-me .about-me-page button {
  margin-top: 40px;
  margin-left: -10px;
}

.language:hover #new-span {
  display: flex;
}

.language:hover #odd-span {
  display: none;
}

/* contact me form */

.contact-me-form {
  display: flex;
  flex-direction: column;
  height: 846px;
  background-color: #6070ff;
  margin-bottom: 30px;
  margin-top: 0;
  border-top-left-radius: 300px;
  position: relative;
}

.new-article {
  margin-top: 0;
  display: block;
}

.new-contact {
  margin-top: 142px;
  width: 569px;
  margin-right: auto;
  margin-left: auto;
}

.new-contact h2 {
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  font-size: 42px;
  color: #fff;
  text-align: center;
}

.contact-me-form div #new-info {
  padding-top: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
}

.contact-fo {
  margin-left: auto;
  margin-right: auto;
}

.contact-me-form .contact-fo ul li {
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: -30px;
}

.contact-me-form .contact-fo ul {
  margin-left: auto;
  margin-right: auto;
}

.contact-fo input[type='text'],
.contact-fo input[type='email'] {
  width: 447px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  padding-left: 16px;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #172b4d;
  margin-top: 10px;
}

.contact-fo li textarea {
  width: 447px;
  height: 170px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #b3bac5;
  margin-top: 10px;
}

.contact-me-form .contact-fo button {
  right: auto;
  width: 140px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 0.03em;
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
}

.contact-me-form .contact-fo button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.contact-me-form .contact-fo button:active {
  background-color: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.shape {
  position: absolute;
  bottom: 8px;
  left: 45%;
  width: 134px;
  height: 15px;
  border-radius: 10px;
  background-color: #0d151e;
}

.logo-nav .nav-bar li:hover {
  background-color: #396df2;
  border-radius: 8px;
}

.main-part .back-description .page-list li:first-child {
  list-style-type: none;
  margin-left: 2px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .hole-div {
    width: 375px;
    height: auto;
    border: 1px solid #0d151e;
    margin-left: auto;
    margin-right: auto;
  }

  .bars-mob {
    position: absolute;
    right: 10%;
    width: 24px;
    height: 24px;
    background-image: url('images/Icon - Menu.png');
    background-repeat: no-repeat;
  }

  .bars-mob:hover {
    background-color: rgb(171, 171, 190);
  }

  .logo {
    position: absolute;
    left: 24px;
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
  }

  header {
    width: 375px;
    height: 674px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-1 {
    position: absolute;
    top: 49px;
    width: 100%;
    height: 100%;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    border-top: none;
  }

  .discription {
    position: absolute;
    top: 90px;
    left: 24px;
    right: 24px;
  }

  .discription h1 {
    width: 237px;
    font-style: normal;
    color: #172b4d;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .discription p,
  .main-2 p {
    margin-top: -8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    font-style: normal;
  }

  .let-s h1 {
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: 500px;
    color: #7f8cff;
  }

  .vector ul {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -40px;
    margin-top: 10px;
  }

  .vector a {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 12px;
    width: auto;
    height: auto;
    margin-top: 20px;
  }

  .vector a:hover {
    border: 1px solid #344563;
  }

  .all-page-mode {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-part {
    margin-top: 50px;
    padding-bottom: 80px;
    padding-top: -40px;
    background-color: #e5e5e5;
    border-right: 1px solid #0d151e;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 337px;
    height: 655px;
    background-color: #fff;
    margin-bottom: 8px;
  }

  .image-1 {
    background-image: url('images/image-1.png');
    width: 295px;
    height: 240px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-2 {
    background-image: url('images/image-2.png');
    width: 295px;
    height: 240px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-3 {
    background-image: url('images/image-3.png');
    width: 295px;
    height: 240px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-4 {
    background-image: url('images/image-4.png');
    width: 295px;
    height: 240px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .all-image-pro {
    display: none;
  }

  .back-description {
    width: 327px;
  }

  .back-description h2 {
    width: 200px;
    height: auto;
    color: #172b4d;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    line-height: 44px;
  }

  .back-description .page-list li {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #6b778c;
    margin-top: -12px;
    margin-left: -10px;
  }

  .lists-of-frame {
    width: 327px;
    margin-left: -20px;
    margin-top: 40px;
  }

  .page-list p {
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #344563;
  }

  .main-part .nav-source li {
    margin-right: -15px;
  }

  .about-me {
    width: 372px;
    height: 1125px;
    margin-top: 20px;
    background-color: #fff;
    border-bottom: none;
    border-left: none;
  }

  .hovers li span {
    margin-left: 40px;
  }

  .about-me .hovers li span {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 0;
    margin-left: -20px;
    height: 66.67px;
    width: 50px;
    padding-right: 20px;
    justify-content: center;
    background-color: #f7f7f9;
    background-repeat: no-repeat;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  .about-me-me {
    display: block;
    margin-left: 0px;
    width: 370px;
    height: 1125px;
    margin-top: -50px;
    background-color: #fff;
    border-top-right-radius: 100px;
  }

  .about-me-page {
    padding-top: 60px;
    width: 315px;
    margin-left: 24px;
    margin-right: 20px;
  }

  .language h3,
  .lang h3,
  .lag h3 {
    display: flex;
    align-items: center;
    width: 237px;
    height: 24px;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  #span-1,
  #span-2,
  .up-down {
    display: flex;
    align-content: center;
    justify-content: end;
    margin-top: -40px;
    margin-right: 16px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 290px;
  }

  .language,
  .lag,
  .lang {
    width: 300px;
    margin-left: 15px;
    border-bottom: 1px solid #dfe1e6;
  }

  .hovers {
    display: block;
    margin-top: -30px;
    width: 303px;
  }

  .lists-of-frame .hovers li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 66.75px;
    width: 250px;
    background-color: #f7f7f9;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 2px;
    margin-left: -15px;
  }

  .lists-of-frame .hovers li span {
    margin-left: -15px;
  }

  .hovers li p {
    width: 217px;
    height: 24px;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 5px 5px 5px 0;
    margin-top: 5px;
  }

  #new-span {
    padding-left: -10px;
  }

  .hovers,
  #new-span {
    display: none;
  }

  .language:hover .hovers {
    display: block;
  }

  .language:hover #new-span {
    display: flex;
  }

  .language:hover #odd-span {
    display: none;
  }

  .contact-me-form {
    width: 373px;
    height: 779px;
    border-top-left-radius: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .new-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
  }

  .new-contact h2 {
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin-left: -200px;
  }

  .contact-me-form div #new-info {
    padding-top: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #ebebff;
    text-align: center;
    margin-right: 24px;
    width: 327px;
    margin-left: -170px;
  }

  .contact-fo {
    position: absolute;
    top: 350px;
    margin-left: 16px;
    margin-top: -40px;
  }

  .contact-form .contact-fo ul li {
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-fo ul {
    margin-left: -16px;
  }

  .contact-fo input[type='text'],
  .contact-fo input[type='email'] {
    width: 327px;
    height: 48px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding-left: 16px;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #172b4d;
  }

  .contact-fo li textarea {
    width: 327px;
    height: 179px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 15px 38px 15px 16px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #b3bac5;
  }

  .contact-fo button {
    width: 140px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    color: #6070ff;
    font-size: 17px;
    font-weight: 500;
    line-height: 0.03em;
    background: #fff;
    border: 1px solid #396df2;
    border-radius: 8px;
    position: absolute;
    left: 5%;
  }

  .contact-fo button:hover {
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .contact-fo button:active {
    background-color: #2230d2;
    border-radius: 8px;
    color: #fff;
  }

  .shape {
    position: absolute;
    bottom: 8px;
    left: 120px;
    width: 134px;
    height: 5px;
    border-radius: 10px;
    background-color: #0d151e;
  }
}
